<div class="row">
    <div class="col-3">

        <div class="list-group">

            <ng-container *ngIf="results$ | async as results; else loading">

                <ng-container *ngFor="let movie of results.results">
                    <a class="list-group-item list-group-item-action" routerLink="./{{movie.id}}"
                    routerLinkActive="active">
                        {{movie.title}}
                    </a>

                </ng-container>
                <div class="alert alert-secondary" *ngIf="results.results.length === 0">No movies found for this criteria</div>
            </ng-container>

            <ng-template #loading>
                loading movies ...
            </ng-template>
        </div>

    </div>

    <div class="col-9">

        <router-outlet></router-outlet>
      
    </div>
</div>